h1 {
    text-align: center;
    font-family: Montserrat; 
    font-weight: bold;
    font-size: 25pt;
}
.hhh {
    text-align: center;
    font-family: Montserrat; /* ׁולויסעגמ רנטפעמג */
    font-weight: bold;
    font-size: 22pt;
}

label {
    font-family: Montserrat;
    font-weight: normal;
}

p {
    line-height: 2;
    font-family: Montserrat;
    font-weight: normal;
}
.hh2 {
    font-family: Montserrat;
    font-weight: normal;
    white-space: pre-wrap;
    text-decoration: none;
   
}

.hh2:hover, .hh2:focus {
    text-decoration: none
}


div {
    justify-content: center;
}

input[type=submit] {
    padding: 5px 15px;
    background: #92A9BD;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.button {
    border-radius: 12px;
    background: wight;
    border-color: #cccccc;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    margin: 5% auto;
    cursor: pointer;
}

.button1 {
    background-color: #4CAF50;
}

input[type=number] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bott {
    display: block;
    font-size: 1.1em;
    width: 110px;
    text-decoration: none;
    text-align: center;
    font: bold 14px arial;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 20px auto;
    color: #ccc;
    background-color: #555;
    background-image: linear-gradient(top, #888 0%, #555 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #888), color-stop(1, #555));
    background-image: -moz-linear-gradient(top, #888 0%, #555 100%);
    background-image: -o-linear-gradient(top, #888 0%, #555 100%);
    border: none;
    border-radius: 3px;
    text-shadow: 0px -1px 0px #000;
    box-shadow: 0px 1px 0px #666,0px 5px 0px #444,0px 6px 6px rgba(0, 0, 0, .6);
    -webkit-transition: ease .15s all;
    -moz-transition: ease .15s all;
    -o-transition: ease .15s all;
    transition: ease .15s all;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}

    .bott:hover, a.bott:focus {
        -webkit-animation: linear 1.2s light infinite;
        text-decoration: none;
        -moz-animation: linear 1.2s light infinite;
        -o-animation: linear 1.2s light infinite;
        animation: linear 1.2s light infinite;
    }

@-webkit-keyframes light {
    0% {
        color: #ddd;
        text-shadow: 0px -1px 0px #000;
    }

    50% {
        color: #fff;
        text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff;
    }

    100% {
        color: #ddd;
        text-shadow: 0px -1px 0px #000;
    }
}

@-moz-keyframes light {
    0% {
        color: #ddd;
        text-shadow: 0px -1px 0px #000;
    }

    50% {
        color: #fff;
        text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff;
    }

    100% {
        color: #ddd;
        text-shadow: 0px -1px 0px #000;
    }
}

@-o-keyframes light {
    0% {
        color: #ddd;
        text-shadow: 0px -1px 0px #000;
    }

    50% {
        color: #fff;
        text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff;
    }

    100% {
        color: #ddd;
        text-shadow: 0px -1px 0px #000;
    }
}

@keyframes light {
    0% {
        color: #ddd;
        text-shadow: 0px -1px 0px #000;
    }

    50% {
        color: #fff;
        text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff;
    }

    100% {
        color: #ddd;
        text-shadow: 0px -1px 0px #000;
    }
}

.bott:active {
    color: #fff;
    text-shadow: 0px -1px 0px #444,0px 0px 5px #ffd,0px 0px 8px #fff;
    text-decoration: none;
    box-shadow: 0px 1px 0px #666,0px 2px 0px #444,0px 2px 2px rgba(0, 0, 0, .9);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}

